parameters:
	ignoreErrors:
		-
			message: "#^Property IPay\\\\Builder\\\\TransactionBuilder\\:\\:\\$resolver is never written, only read\\.$#"
			count: 1
			path: src/Builder/TransactionBuilder.php
