parameters:
	ignoreErrors:
		-
			message: "#^Property IPay\\\\Builders\\\\TransactionBuilder\\:\\:\\$resolver is never written, only read\\.$#"
			count: 1
			path: src/Builders/TransactionBuilder.php
